<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <hgroup>
        <h1>Testing.</h1>
    </hgroup>
    <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
    <script>
        function postIt(url, data) {
            return $.ajax(url, {
                type: "POST",
                data: data,
                success: function () {
                    console.log("Worked (" + url + "):", arguments);
                },
                error: function () {
                    console.log("No good (" + url + "):", arguments);
                }
            });
        }

        $.when(
            postIt("../api/values/timed", { SleepTimeMs: 500 }),
            postIt("../api/values/timed", { SleepTimeMs: 2000 }),
            postIt("../api/values/timed", { SleepTimeMs: 0 })).then(requestAnError);

        function requestAnError() {
            postIt("../api/values/always-throws", {});
        }

        console.log("Loaded");
    </script>
</body>
</html>
